
.square {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 380px;
  /* height: 600px; */
}

.mole {
  background-image: url('mole.jpg');
  background-size: cover;
}
